extends layout

block content
    title Rutina de Ejercicios

    .chute.chute-center
        #spy1.panel
            .panel-heading
                span.panel-title Dia 1 Empuje Fuerza
                .pull-right
            .panel-body.pn
                .table-responsive
                    table.table
                        thead
                            tr
                                th #
                                th Nombre
                                th Series
                                th Repeticiones
                                th Descanso
                                th Peso Deseado

                        tbody
                            tr
                                td  1
                                td  Press Banca con barra
                                td  3
                                td  5/3/1
                                td
                                td

                            tr
                                td  2
                                td  Press inclinado con barra
                                td  3
                                td  6-8
                                td
                                td

                            tr
                                td  3
                                td  Press Declinado
                                td  3
                                td  8-12
                                td
                                td

                            tr
                                td  4
                                td  Cruce de polea o apertura
                                td  7
                                td  10
                                td
                                td

                            tr
                                td  5
                                td  Press Militar
                                td  3
                                td  5/3/1
                                td
                                td

                            tr
                                td  6
                                td  Press Militar con mancuerna
                                td  3
                                td  8-10
                                td
                                td

                            tr
                                td  7
                                td  Elevacion Frontal
                                td  3
                                td  10-12
                                td
                                td
                            tr
                                td  8
                                td  Elevacion lateral
                                td  7
                                td  10
                                td
                                td

                            tr
                                td  9
                                td  Patada triceps o press frances
                                td  3
                                td  8-10
                                td
                                td

                            tr
                                td  10
                                td  Extension triceps
                                td  3
                                td  10-12
                                td
                                td
                            tr
                                td  11
                                td  Ejercicio Auxiliar
                                td  7
                                td  10
                                td
                                td

        #spy1.panel
            .panel-heading
                span.panel-title Dia 2 Tire Fuerza
                .pull-right
            .panel-body.pn
                .table-responsive
                    table.table
                        thead
                            tr
                                th #
                                th Nombre
                                th Series
                                th Repeticiones
                                th Descanso
                                th Peso Deseado
                            tbody
                                tr
                                    td  1
                                    td  Peso Muerto
                                    td  3
                                    td  5/3/1
                                    td
                                    td


                                tr
                                    td  2
                                    td  Remo con mancuerna
                                    td  3
                                    td  6-8
                                    td
                                    td

                                tr
                                    td  3
                                    td  Tiron agarre estrecho
                                    td  3
                                    td  8-10
                                    td
                                    td

                                tr
                                    td  4
                                    td  Tiron al pecho
                                    td  7
                                    td  10
                                    td
                                    td

                                tr
                                    td  5
                                    td  Curl Biceps con barra
                                    td  3
                                    td  8-10
                                    td
                                    td

                                tr
                                    td  6
                                    td  Curl alternado con mancuerna
                                    td  3
                                    td  12-15
                                    td
                                    td

                                tr
                                    td  7
                                    td  Ejercicio auxiliar biceps
                                    td  7
                                    td  10
                                    td
                                    td

                                tr
                                    td  8
                                    td  Hombro posterios
                                    td  7
                                    td  10
                                    td
                                    td

        #spy1.panel
            .panel-heading
                span.panel-title Dia 3 Pierna  Fuerza
                .pull-right
            .panel-body.pn
                .table-responsive
                    table.table
                        thead
                            tr
                                th #
                                th Nombre
                                th Series
                                th Repeticiones
                                th Descanso
                                th Peso Deseado
                            tbody
                                tr
                                    td  1
                                    td  Sentadilla
                                    td  3
                                    td  5/3/1
                                    td
                                    td

                                tr
                                    td  2
                                    td  Peso muerto piernas rigidas
                                    td  3
                                    td  6-8
                                    td
                                    td

                                tr
                                    td  3
                                    td  Estocada
                                    td  3
                                    td  10-12
                                    td
                                    td

                                tr
                                    td  4
                                    td  Extension Pierna
                                    td  7
                                    td  10
                                    td
                                    td

                                tr
                                    td  5
                                    td  Curl femoral acostado
                                    td  7
                                    td  10
                                    td
                                    td
                                tr
                                    td  6
                                    td  Pantorrilla auxiliar
                                    td  3
                                    td  8-10
                                    td
                                    td

                                tr
                                    td  7
                                    td  Pantorrilla auxiliar
                                    td  7
                                    td  10
                                    td
                                    td

                                tr
                                    td  8
                                    td  Cardio (si es que tienes
                                    td
                                    td
                                    td
                                    td

        #spy1.panel
            .panel-heading
                span.panel-title Dia 4 Empuje Hipertrofia
                .pull-right
            .panel-body.pn
                .table-responsive
                    table.table
                        thead
                            tr
                                th #
                                th Nombre
                                th Series
                                th Repeticiones
                                th Descanso
                                th Peso Deseado
                            tbody
                                tr
                                    td  1
                                    td  Bombeo pantorrilla con pesos bajos
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td  2
                                    td  Press inclinado con mancuerna
                                    td  4
                                    td  6-8
                                    td
                                    td
                                tr
                                    td  3
                                    td  Press plano con mancuerna
                                    td  4
                                    td  8-10
                                    td
                                    td
                                tr
                                    td  4
                                    td  Apertura Inclinada en polea o mancuerna
                                    td  3
                                    td  15-20
                                    td
                                    td
                                tr
                                    td  5
                                    td  Press Sentado con mancuerna
                                    td  3
                                    td  6-8
                                    td
                                    td
                                tr
                                    td  6
                                    td  Remo al menton
                                    td  3
                                    td  12-15
                                    td
                                    td
                                tr
                                    td  7
                                    td  Elevaciones laterales
                                    td  3
                                    td  15-20
                                    td
                                    td
                                tr
                                    td  8
                                    td  elevaciones frontales
                                    td  3
                                    td  10-12
                                    td
                                    td
                                tr
                                    td  9
                                    td  Extension triceps
                                    td  3
                                    td  10-12
                                    td
                                    td
                                tr
                                    td  10
                                    td  Fondos
                                    td  3
                                    td  8-10
                                    td
                                    td
                                tr
                                    td  11
                                    td  Press frances
                                    td  3
                                    td  12-15
                                    td
                                    td
        #spy1.panel
            .panel-heading
                span.panel-title Dia 5 Tire Hipertrofia
                .pull-right
            .panel-body.pn
                .table-responsive
                    table.table
                        thead
                            tr
                                th #
                                th Nombre
                                th Series
                                th Repeticiones
                                th Descanso
                                th Peso Deseado
                            tbody
                                tr
                                    td  1
                                    td  Bombeo Hombro - Triceps
                                    td  3-5
                                    td
                                    td
                                    td

                                tr
                                    td  2
                                    td  Remo con barra
                                    td  3
                                    td  6-8
                                    td
                                    td

                                tr
                                    td  3
                                    td  Dominadas
                                    td  4
                                    td  8-10
                                    td
                                    td

                                tr
                                    td  4
                                    td  Jalon al pecho
                                    td  3
                                    td  10-12
                                    td
                                    td

                                tr
                                    td  5
                                    td  Remo sentado
                                    td  3
                                    td  12-15
                                    td
                                    td

                                tr
                                    td  6
                                    td  curl biceps con barra
                                    td  4
                                    td  10-12
                                    td
                                    td

                                tr
                                    td  7
                                    td  Curl alternado con mancuerna
                                    td  4
                                    td  10-15
                                    td
                                    td

                                tr
                                    td  8
                                    td  Auxiliar espalda baja
                                    td
                                    td
                                    td
                                    td

                                tr
                                    td  9
                                    td  auxiliar hombro posterior
                                    td
                                    td
                                    td
                                    td

                                tr
                                    td  10
                                    td  ABS
                                    td
                                    td
                                    td
                                    td

        #spy1.panel
            .panel-heading
                span.panel-title Dia 6 Pierna Hipertrofia
                .pull-right
            .panel-body.pn
                .table-responsive
                    table.table
                        thead
                            tr
                                th #
                                th Nombre
                                th Series
                                th Repeticiones
                                th Descanso
                                th Peso Deseado
                                tr
                                    td  1
                                    td  BOMBEO BICEPS
                                    td  3-5 M
                                    td
                                    td
                                    td

                                tr
                                    td  2
                                    td  Sentadilla frontal
                                    td  4
                                    td  6-8
                                    td
                                    td

                                tr
                                    td  3
                                    td  Prensa
                                    td  4
                                    td  8-10
                                    td
                                    td

                                tr
                                    td  4
                                    td  Extension Pierna
                                    td  4
                                    td  12-15
                                    td
                                    td

                                tr
                                    td  5
                                    td  Peso muerto Piernas rigidas
                                    td  4
                                    td  8-10
                                    td
                                    td

                                tr
                                    td  6
                                    td  Curl femoral sentado
                                    td  3
                                    td  10-12
                                    td
                                    td

                                tr
                                    td  7
                                    td  Curl Femoral acostado
                                    td  3
                                    td  12-15
                                    td
                                    td

                                tr
                                    td  8
                                    td  Zancada
                                    td  3
                                    td  12-15
                                    td
                                    td

                                tr
                                    td  9
                                    td  Cardio
                                    td
                                    td
                                    td
                                    td
                            tbody
